@model Kooboo.CMS.Modules.Publishing.Models.LocalPublishingQueue
@using Kooboo.CMS.Modules.Publishing.Models;
@{
    ViewBag.Title = "Local publishing queue detail".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm())
    { 
        <table>
            <tbody>
                @Html.DisplayFor(m => m.PublishingObject)
                @Html.DisplayFor(m=>m.ObjectUUID)
                @Html.DisplayFor(m=>m.ObjectTitle)
                @Html.DisplayFor(m => m.UtcTimeToPublish)
                @Html.DisplayFor(m => m.UtcTimeToUnpublish)
                @if(Model.PublishingObject==PublishingObject.Page){
                    @Html.DisplayFor(m=>m.PublishDraft)
                }
                @Html.DisplayFor(m=>m.Status)
                @Html.DisplayFor(m=>m.UserId)
                @Html.DisplayFor(m=>m.UtcCreationDate)
                @Html.DisplayFor(m=>m.Message)
            </tbody>
        </table>
    }
</div>

