@model IEnumerable<ItemTemplate>
@{
    ViewBag.Title = "Site templates".Localize();
    Layout = "~/Areas/Sites/Views/Shared/Global.cshtml";

}
@*@section SideBar_Top{
    @Html.Partial("_SidebarTopSearch")
}*@
@section Panel{

    <ul class="panel">
        <li>
            <a href="@Url.Action("Upload", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("upload") @("Upload".Localize())</a>
        </li>
        <li><a href="@Url.Action("Delete", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-command-type="AjaxPost" data-confirm="@("Are you sure you want to delete these items?".Localize())">
            @Html.IconImage("delete") @("Delete".Localize())</a></li>
    </ul>
}
<div class="block">
    <h1 class="title">@ViewBag.Title <a href="http://sites.kooboo.com" target="_blank" class="title-tip">@("Browse more templates online".Localize())</a></h1>
    
    <ul class="site-list">
        @foreach (var item in Model)
        {
            <li>
                <span>
                    <input type="checkbox" name="select" class="select" value="@item.UUID" id="@item.UUID"  data-id-property="UUID" autocomplete="off"/>
                    <label for="@item.TemplateName"></label>
                    <span class="corner"></span>
                    <img src="@Url.Content(string.IsNullOrEmpty(item.Thumbnail) ? "~/Images/Default.png" : item.Thumbnail)" />
                </span>
                <label class="name" for="@item.TemplateName">@item.TemplateName</label>
            </li>
        }
    </ul>
</div>
<script>
    $(function () {
        var $siteList = $('.site-list');
        var $check_relateds = $('[data-show-on-check]');
        function reset_check_relateds() {
            var $all_checkeds = $siteList.find('input:checkbox.select:checked');
            $check_relateds.hide();
            $check_relateds.each(function () {
                var $related = $(this);
                var show_on_check = $related.data('show-on-check');
                switch (show_on_check) {
                    case 'Single':
                        if ($all_checkeds.length == 1) {
                            $related.show();
                        }
                        break;
                    case 'Two':
                        if ($all_checkeds.length == 2) {
                            $related.show();
                        }
                        break;
                    case 'Any':
                        if ($all_checkeds.length > 0) {
                            $related.show();
                        }
                        break;
                }
                var show_on_selector = $related.data('show-on-selector');
                if (show_on_selector) {
                    if ($all_checkeds.closest('tr:not(' + show_on_selector + ')').length > 0) {
                        $related.hide();
                    }
                }
            });
        }
        reset_check_relateds();
        $siteList.find('input:checkbox.select').change(function () {
            reset_check_relateds();
        });
        $siteList.grid();
    });
</script>
