@model Kooboo.CMS.Content.Models.Repository
@{
    ViewBag.Title = "Basic".Localize();
    Layout = "~/Areas/Contents/Views/Shared/Site.cshtml";
    }

    <h2>
        @("Repository Basic Setting".Localize() )</h2>
    <div class="common-form">
        @using (Html.BeginForm())
        { 
        @Html.ValidationSummary() 
        <fieldset>
            <legend></legend>
            <table>
                <tbody>
                    @Html.HiddenFor(m=>m.Name) 
                    @Html.DisplayFor(m=>m.Name) 
                    @Html.EditorFor(m=>m.DisplayName)                     
                </tbody>
            </table>
        </fieldset>
        <button type="submit">
            @("Save".Localize() )</button>
         } 
    </div>
@section sidebar{}
