@model Kooboo.CMS.Content.Models.Repository
@{
    ViewBag.Title = "Settings".Localize() + " - Database".Localize();
    Layout = "~/Views/Shared/Site.cshtml";
}
@section Panel{
    <ul class="header-panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())
            </a>
        </li>
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        @if (!string.IsNullOrEmpty(ViewContext.RequestContext.GetRequestValue("return")))
        {
            <li>
                <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                    @Html.IconImage("back") @("Cancel".Localize())
                </a>
            </li>
        }
    </ul>
}
<div class="block common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                @Html.HiddenFor(m => m.Name)
                @Html.DisplayFor(m => m.Name)
                @Html.EditorFor(m => m.DisplayName, new { HtmlAttributes = new { @class = "medium" } })
                @Html.EditorFor(m => m.UserKeyReplacePattern, new { HtmlAttributes = new { @class = "medium" } })
                @Html.EditorFor(m => m.UserKeyHyphens, new { HtmlAttributes = new { @class = "medium" } })
                @Html.EditorFor(m => m.EnableVersioning)
                @Html.EditorFor(m => m.EnableWorkflow)
                @Html.EditorFor(m => m.EnableBroadcasting)
                @Html.EditorFor(m => m.StrictContentPermission)
                @Html.EditorFor(m => m.ShowHiddenFolders)
            </tbody>
        </table>

    }
</div>

