<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	@Html.FrontHtml().HtmlTitle()
	@Html.FrontHtml().Meta()
	@Html.FrontHtml().RegisterStyles()
  @Html.FrontHtml().RegisterScripts()
   <script type="text/javascript" src=@Url.FrontUrl().FileUrl("jquery.ennui.contentslider.js")></script>
  <script type="text/javascript" >
   $(function() {
                    $('#one').ContentSlider({
                      leftBtn: '@Url.FrontUrl().FileUrl("images/templatemo_left_nav.png")',
                      rightBtn:'@Url.FrontUrl().FileUrl("images/templatemo_right_nav.png")',
                    width : '920px',
                    height : '250px',
                    speed : 400,
                    easing : 'easeOutSine'
                    });
                    });
    
    </script>
  
</head>
<body>
<div id="templatemo_header_wrapper">
     @Html.FrontHtml().RenderView("Header",ViewData)
</div>

<div id="templatemo_featured_content_wrapper">
	@Html.FrontHtml().Position("FeaturedContent")
</div>

<div id="templatemo_middle_wrapper">

	<div id="content_wrapper">
       @Html.FrontHtml().Position("Content")
	</div>
    
	<div id="sidebar_wrapper">
        @Html.FrontHtml().Position("Sidebar")
    </div>
    
    <div class="cleaner"></div>

</div>

<div id="templatemo_footer_wrapper">

	@Html.FrontHtml().Position("Footer")

</div>

<div id="templatemo_copyright_wrapper">
	@Html.FrontHtml().RenderView("Footer.Copyright",ViewData)
</div>
</body>
</html>