<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href='@Url.FrontUrl().FileUrl("favicon.ico")' />
    @Html.FrontHtml().Title()
    @Html.FrontHtml().Meta()
    @Html.FrontHtml().RegisterStyles()
    @Html.FrontHtml().RegisterScripts()
</head>
<body>
    <div id="body-container">
        <header id="header" class="clearfix">
                <h1 class="logo">
                    <a href='@Url.FrontUrl().PageUrl("Articles")'><img src="@Url.FrontUrl().FileUrl("logo.png")" alt="Logo">@("Sample site".Label())</a></h1>
                @Html.FrontHtml().RenderView("Menu", ViewData)
                <ul class="quicklinks right">
                    @if (User.Identity.IsAuthenticated)
                    {
                  	<li><strong>[@User.Identity.Name]</strong></li>
                        <li><a href="@Url.Action("SignOut", "LogOn", new { area = "Account", returnUrl = Request.RawUrl })">@("Sign Out".Label())</a></li>
                    }
                    else
                    { 

                        <li><a id="login-link" href="#loginForm">@("LogOn".Label())</a></li>
                    }
                </ul>
        </header>
        <div id="main-container" class="clearfix">
            <div class="topbar">
                <h1 class="title">@MenuHelper.Current().LinkText.Label()</h1>
                <div class="searchbox">
                    <form action="@Url.FrontUrl().PageUrl("search")" method="get">
                        <input type="text" name="key" value="@Page_Context.Current.PageRequestContext.AllQueryString["key"]"/>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div id="main">
                @Html.FrontHtml().Position("main")
            </div>
            <aside id="sidebar">
                @Html.FrontHtml().Position("sidebar")
            </aside>
        </div>
        <footer id="footer">
            <p class="copyright">@("Copyright &copy; 2009 - 2013 Kooboo team".Label())</p>
        </footer>
    </div>
    <div class="hide">
        @Html.FrontHtml().RenderView("LoginForm", ViewData)
    </div>
</body>
</html>
