@model Kooboo.CMS.Sites.ABTest.ABRuleSetting
@using Kooboo.CMS.Sites.ABTest;
@{
    ViewBag.Title = "Create A/B rule".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
        
    string ruleType = ViewContext.RequestContext.GetRequestValue("RuleType");
    ViewData.Model = new Kooboo.CMS.Sites.ABTest.ABRuleSetting() { RuleType = ruleType };
    
    var allRules = Kooboo.CMS.Common.Runtime.EngineContext.Current.ResolveAll<IVisitRule>();  
    ViewBag.Rule = allRules.Where(it => it.RuleType.EqualsOrNullEmpty(ruleType, StringComparison.OrdinalIgnoreCase)).First();
}
@section Panel{
    <ul class="panel">
        <li>
            <a id="submitVisitRule">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<form id="ruleSettingForm">
    <div class="topbar">
        <h1 class="title left">@ViewBag.Title:</h1>
        <p class="field left">
            @Html.Hidden("SiteName", ViewContext.RequestContext.GetRequestValue("SiteName"))
            @Html.Hidden("old_Key", "")
            @Html.EditorFor(m => m.Name, new { Layout = "_NoLabel.cshtml", HtmlAttributes = new RouteValueDictionary() { { "class", "medium" }, { "data-bind", "value:ruleSetting.Name" } } })
        </p>
    </div>
    <div class="common-form fixed">
        @Html.Partial("_RuleSetting", ViewData)
    </div>
</form>



@Html.Partial("_RuleSetting.Scripts", ViewData)
