@model Kooboo.CMS.Sites.ABTest.ABRuleSetting
@using Kooboo.CMS.Sites.ABTest;
@{
    ViewBag.Title = "Create A/B rule".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";

    string ruleType = ViewContext.RequestContext.GetRequestValue("RuleType");
    var allRules = Kooboo.CMS.Common.Runtime.EngineContext.Current.ResolveAll<IVisitRule>();
    if (!string.IsNullOrEmpty(ruleType))
    {
        ViewData.Model = new Kooboo.CMS.Sites.ABTest.ABRuleSetting() { RuleType = ruleType };

        ViewBag.Rule = allRules.Where(it => it.RuleType.EqualsOrNullEmpty(ruleType, StringComparison.OrdinalIgnoreCase)).First();
    }
    
}
@section Panel{
    <ul class="panel">
        @if (string.IsNullOrEmpty(ruleType))
        {
            <li>
                <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                    @Html.IconImage("cancel") @("Back".Localize())</a>
            </li>
            <li>
                <a data-download-form="">
                    @Html.IconImage("next") @("Next".Localize())</a>
            </li>
        }
        else
        {
            <li>
                <a id="submitVisitRule">
                    @Html.IconImage("save") @("Finish".Localize())</a>
            </li>
            <li>
                <a href="@ViewContext.RequestContext.GetRequestValue("Back")">
                    @Html.IconImage("cancel") @("Back".Localize())</a>
            </li>
        }
    </ul>
}
@if (string.IsNullOrEmpty(ruleType))
{
    <div class="common-form">
        <h1 class="title">@ViewBag.Title</h1>
        <div class="process-steps">
            <div class="steps-inner">
                <span class="current">@("Select rule type".Localize())<b></b></span>
                <span>@("Add rule item".Localize())</span>
            </div>
        </div>
        <form>
            <input type="hidden" name="Back" value="@Request.RawUrl"/>
            <input type="hidden" name="Return" value="@ViewContext.RequestContext.GetRequestValue("return")"/>
            <table>
                <tbody>
                    <tr>
                        <td>@("Rule type".Localize())</td>
                        <td>
                            <select name="ruleType">
                                @foreach (var item in allRules)
                                {
                                    <option value="@item.RuleType">@((string)(item.RuleType).Localize())</option>    
                                }
                            </select></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
}
else
{
    <div class="common-form">
        <h1 class="title">@ViewBag.Title</h1>
        <div class="process-steps">
            <div class="steps-inner">
                <a>@("Select rule type".Localize())</a>
                <span class="current">@("Add rule item".Localize())<b></b></span>
            </div>
        </div>
        <form id="ruleSettingForm">
            <div class="topbar">
                <h1 class="title left">@ViewBag.Title:</h1>
                <p class="field left">
                    @Html.Hidden("SiteName", ViewContext.RequestContext.GetRequestValue("SiteName"))
                    @Html.Hidden("old_Key", "")
                    @Html.EditorFor(m => m.Name, new { Layout = "_NoLabel.cshtml", HtmlAttributes = new RouteValueDictionary() { { "class", "medium" }, { "data-bind", "value:ruleSetting.Name" } } })
                </p>
            </div>
            <div class="common-form fixed">
                @Html.Partial("_RuleSetting", ViewData)
            </div>
        </form>
        @Html.Partial("_RuleSetting.Scripts", ViewData)
    </div>
}
