@model Kooboo.CMS.Web.Areas.Sites.Models.SiteTemplate_ViewModel
@{
    ViewBag.Title = "Upload site template";
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="block common-form">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Category)
        <table>
            <tbody>
                @Html.EditorFor(m => m.TemplateName, new { HtmlAttributes = new { @class = "medium" } })
                @Html.EditorFor(m => m.TemplateFile, new { HtmlAttributes = new { @class = "medium", accept = ".zip" } })
                @Html.EditorFor(m => m.ThumbnailFile, new { HtmlAttributes = new { @class = "medium", accept = ".png" } })
            </tbody>
        </table>        
    }
</div>
