@model System.Collections.Generic.IEnumerable<Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo>
@{
    ViewBag.Title = "Modules".Localize();
    Layout = "~/Areas/Sites/Views/Shared/Global.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@Url.Action("Install", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("add") @("Install".Localize())</a>
        </li>
        <li><a href="@Url.Action("Uninstall", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Single"  data-command-type="AjaxPost" data-confirm="@("Are you sure you want to uninstall this module?".Localize())">
            @Html.IconImage("delete") @("Uninstall".Localize())</a></li>


        <li><a href="@Url.Action("Relations", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl).Merge("title", "Show module relations"))" data-show-on-check="Single" data-command-type="Redirect">
            @Html.IconImage("relations") @("Relations".Localize())</a></li>
    </ul>
}

<div class="topbar clearfix">
    <h1 class="title">
        @ViewBag.Title</h1>
</div>
@Html.GridForModel2()