@model Kooboo.CMS.Web.Areas.Sites.Models.InstallModuleModel
@{
    ViewBag.Title = "Install module".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">
        @ViewBag.Title</h1>
    @using (Html.BeginForm())
    {
               
        <table>
            <tbody>
                @Html.EditorFor(m => m.ModuleFile, new { HtmlAttributes = new { @class = "medium" } })
            </tbody>
        </table>
               
    }
</div>

