@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Module unistallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
    var uninstallingTemplate = Model.UninstallingTemplate;
    if (!uninstallingTemplate.StartsWith("~/"))
    {
        uninstallingTemplate = new ModulePathHelper(Model.ModuleName).GetViewPath(uninstallingTemplate).VirtualPath;
    }
}
@section Panel{
    <ul class="panel">
         <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
        <li>
            <a data-ajaxform="">
                @Html.IconImage("next") @("Next".Localize())</a>
        </li>       
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span class="current">@("Run uninstallation action".Localize())<b></b></span>
            <span>@("Remove module files".Localize())</span>
            <span>@("Finished".Localize())</span>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.Partial(uninstallingTemplate,null,new ViewDataDictionary())
    }
</div>


