<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex,nofllow" />
    <link rel="shortcut icon" href='@Url.Content("~/Images/favicon.ico")' />
    <title>
        @ViewBag.Title @(" - Kooboo CMS".Localize())</title>
    @Html.ExternalResources("siteStyles")
    @Html.ExternalResources("logonScripts")
    <script>
        $(function () {
            $('input:visible').first().focus();
        });
    </script>
</head>
<body class="blank">
    <div id="body-container" class="no-sidebar">
        <header id="header" class="clearfix">
            <a class="logo" href="@Url.Content("~/")" title="@("Back to home page".Localize())">
                <img src="@Html.Raw(Url.Content("~/Images/logo.png")) " alt="LOGO">
            </a>
        </header>
        <div id="main-container" class="clearfix">
            <div class="wrap">
                <div class="block login">
                    <div class="left">
                        <h1 class="title">
                            @("About kooboo CMS".Localize())
                        </h1>
                        <article class="content">
                            <p>
                                @Html.Raw("This Enterprise CMS system saves time and allows you the freedom that you need to develop high-quality websites with a personal touch. We've streamlined the web development process.".Localize())
                            </p>
                            <p>
                                @Html.Raw("For a list of newly added features and a quick start guide,<br />See: <a href=\"http://www.kooboo.com/documents\" target=\"_blank\">http://www.kooboo.com/documents</a>".Localize())
                            </p>
                            <p>
                                @Html.Raw("Sign in to the CMS and create your first Kooboo website, the default login is: <strong>admin/admin</strong>".Localize())
                            </p>
                        </article>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer id="footer">
            @Html.Partial("_Footer")
        </footer>
    </div>
</body>
</html>
