<div class="block member-form common-form">
    <form class="ajaxForm" action="@Url.FrontUrl().SubmissionUrl("ForgotPassword", new { returnUrl = ViewContext.RequestContext.GetRequestValue("returnUrl") })" method="post">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="member-form-main">
            <table>
                <tr class="field">
                    <th>
                        <label for="UserName">@("Username".Label())</label>
                    </th>
                    <td>
                        <input class="" data-val="true" data-val-required="@("Required".RawLabel())" id="UserName" name="UserName"
                            type="text" value="" autocomplete="off">
                        @Html.ValidationMessage("UserName")
                    </td>
                </tr>              
                <tr>
                    <th></th>
                    <td>
                        <button type="submit">@("Send mail".Label())</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>


</div>
