@model Kooboo.CMS.Content.Models.TextContent
@{
    var folder = (Kooboo.CMS.Content.Models.TextFolder)ViewData["Folder"];
    ViewBag.Title = "Edit".Localize() + " " + folder.AsActual().FriendlyText;
    Layout = "~/Views/Shared/Popup.cshtml";
}

<div class="common-form in-dialog">
    <h1 class="title">@ViewBag.Title</h1>
    @Html.Partial(ViewData["Template"].ToString(), Model)
</div>
<div class="buttons">

    <a data-ajaxform="" class="button" href="@Url.Action("Edit", ViewContext.RequestContext.AllRouteValues())">
        @("Save".Localize())</a>

    <a id="cancelBtn" class="button gray cancel action">@("Cancel".Localize())</a>
</div>
<script>
    $(function () {
        $('#cancelBtn').click(function () {
            $.popContext.getCurrent().close();
        });
    });
</script>
