@using Kooboo.CMS.Sites.ABTest;
@using Kooboo.CMS.Sites.ABTest;

<div class="block command">
    <input type="button" class="button" value="Create @ViewBag.Rule.RuleType rule" data-bind="click: add"/>
</div>
<div id="grid-field">
    <div id="grid-field-template">
        <div class="common-table">
            <table>
                <thead>
                    <tr>
                        <th class="nocheckbox"></th>
                        <th>@("Name".Localize())</th>
                        <th>@("Setting value".Localize())</th>
                        <th class="action">@("Delete".Localize())</th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    <!-- ko foreach: ruleSetting.RuleItems -->
                    <tr>
                        <td class="nocheckbox draggable">
                            <div>@Html.IconImage("drag")</div>
                        </td>
                        <td><a class="action" data-bind="text: Name, click: $root.edit"></a></td>
                        <td data-bind="text: SettingValue"></td>
                        <td class="action">
                            <a class="action" data-bind="click: $root.delete">@Html.IconImage("minus small")</a>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            @if (!string.IsNullOrEmpty(ViewData.ModelMetadata.Description))
                            {
                                <em class="tip">@Html.Raw(ViewData.ModelMetadata.Description.Localize())</em>
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
