@model Kooboo.CMS.Web.Areas.Account.Models.CreateUserModel
@{
    ViewBag.Title = "New user".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="block common-form">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm())
    { 

        <table>
            @Html.EditorFor(m => m.UserName, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.Email, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.Password, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.ConfirmPassword, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.UICulture, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.IsAdministrator)
        </table>
    }
</div>
