@model Kooboo.CMS.Web.Areas.Membership.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change member password".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary(true)        
        <table>
            <tbody>
                @Html.EditorFor(m => m.NewPassword, new { HtmlAttributes = new { @class = "medium" } })
                @Html.EditorFor(m => m.ConfirmNewPassword, new { HtmlAttributes = new { @class = "medium" } })                
            </tbody>
        </table>
    }
</div>
