@model Kooboo.CMS.Web2.Areas.Account.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot password".Localize();
    Layout = "~/Areas/Account/Views/Shared/CommonLayout.cshtml";
}
<div class="common-form">
    <h1 class="title">
        @("Forgot password".Localize())</h1>
    <article class="content">
        <p>
            @("Enter your username and then click Continue.".Localize())
        </p>
        <p>
            @("We'll email you a link to a page where you can easily create a new password.".Localize())
        </p>
    </article>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            @Html.EditorFor(m => m.UserName)
            <tr>
                <td colspan="2">@("OR".Localize())</td>
            </tr>
            @Html.EditorFor(m => m.Email)
            <tr>
                <th></th>
                <td>
                    <button type="submit">
                        @("Continue".Localize())</button>
                    @("or".Localize())
                    @Html.ActionLink("Back to login page".Localize(), "Index")
                </td>
            </tr>
        </table>
    }
</div>
