@model Kooboo.CMS.Web2.Areas.Account.Models.ResetPasswordByTokenModel
@{
    ViewBag.Title = "Reset password".Localize();
    Layout = "~/Areas/Account/Views/Shared/CommonLayout.cshtml";
}
<div class="block">
    <div class="common-form">
        <h1 class="title">
            @("Reset password".Localize())</h1>
        @if (ViewBag.Message != null)
        { 
            <span>@ViewBag.Message</span>
        }
        else
        { 
            <article class="content">
                <p>
                    @("Select your new password and enter it below.".Localize())
                </p>
            </article>
            using (Html.BeginForm())
            {
            @Html.ValidationSummary(true)
            <table>
                @Html.EditorFor(m => m.NewPassword)
                @Html.EditorFor(m => m.NewPassword1)
                <tr>
                    <th></th>
                    <td>
                        <button type="submit">
                            @("Reset password".Localize())</button>
                    </td>
                </tr>
            </table>
            }
        }
    </div>
</div>
