@model Kooboo.CMS.Member.Models.Membership
@{
    var routeValues = ViewContext.RequestContext.AllRouteValues().Merge("membershipName", Model.Name);
}
<div class="map-item">
    @Html.ActionLink(Model.Name, "Index", "MembershipUser", routeValues, new RouteValueDictionary(new { title = Model.Name }))
    <span class="arrow">
        @Html.IconImage("arrow-right")</span>
    <ul>
        <li>
            @Html.ActionLink("Export".Localize(), "Export", routeValues.Merge("return", Request.RawUrl), new RouteValueDictionary())
        </li>
        <li>
            @Html.ActionLink("Delete".Localize(), "Delete", "Membership", routeValues.Merge("return", Request.RawUrl), new { @class = "delete-site-link" })
        </li>

        <li>
            @Html.ActionLink("Copy".Localize(), "Copy", "Membership", routeValues.Merge("return", Request.RawUrl), null)
        </li>

    </ul>
</div>
