@using Kooboo.CMS.Sites.ABTest;
@{
    ViewBag.Title = "Create A/B rule".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
    string url = "";
    if (Site.Current == null)
    {
        url = Url.Action("Index", "ABSiteSetting");
    }
    else
    {
        url = Url.Action("Index", "ABPageSetting", new { siteName = Site.Current.FullName });
    }
}
@section Panel{
    <ul class="panel">

        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("Return")">
                @Html.IconImage("cancel") @("Finished".Localize())</a>
        </li>

    </ul>
}

<div class="common-form">

    <h1 class="title">@ViewBag.Title</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <a>@("Select rule type".Localize())</a>
            <a>@("Add rule item".Localize())</a>
            <span class="current">@("Finished".Localize())<b></b></span>
        </div>
    </div>
    <br />
    <b>@("You have created the A/B rule， please note the followings：".Localize())</b>
    <br />
    <br />
    @("- A/B rules only defined the random factor and values to decide the destination site or page. ".Localize())
    <br />
    @Html.Raw(string.Format("- You need to apply A/B rules to sites or pages in <a href='{0}'>the A/B site or page</a> settings. ".Localize(), url))
    <br />
    @("- One rule can be applied multiple times to multiple sites or pages. ".Localize())

</div>
