@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"title")>@Html.Raw(Model.title ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"date")>@Html.Raw(Model.date ?? "")</div>
		<div @ViewHelper.Edit(Model,"author")>@Html.Raw(Model.author ?? "")</div>
		<div @ViewHelper.Edit(Model,"commentsCount")>@Html.Raw(Model.commentsCount ?? "")</div>
		<div @ViewHelper.Edit(Model,"category")>@Html.Raw(Model.category ?? "")</div>
		<div @ViewHelper.Edit(Model,"content")>@Html.Raw(Model.content ?? "")</div>
		<div @ViewHelper.Edit(Model,"image")>@Html.Raw(Model.image ?? "")</div>
	</div>
</div>
}