@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"ProductId")>@Html.Raw(Model.ProductId ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Name")>@Html.Raw(Model.Name ?? "")</div>
		<div @ViewHelper.Edit(Model,"Keywords")>@Html.Raw(Model.Keywords ?? "")</div>
	</div>
</div>
}