@model Kooboo.CMS.Web.Areas.Account.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot password".Localize();
    Layout = "~/Areas/Account/Views/Shared/CommonLayout.cshtml";
}
<div class="block reset">
    <div class="common-form forgot-form">
        <h6 class="title">
            @("Forgot password".Localize())</h6>
        <div class="info">
            <p>
                @("Enter your username and then click Continue.".Localize())</p>
            <p>
                @("We'll email you a link to a page where you can easily create a new password.".Localize())</p>
        </div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <table>
                    <tbody>
                        @Html.EditorFor(m => m.UserName)
                        <tr>
                        <td colspan="2">@("OR".Localize())</td></tr>
                        @Html.EditorFor(m => m.Email)
                        <tr>
                            <th>
                            </th>
                            <td>
                                <button type="submit">
                                    @("Continue".Localize())</button>
                                @("or".Localize())
                                @Html.ActionLink("Back to login page".Localize(), "Index")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        }
    </div>
</div>
