@model System.Collections.Generic.IEnumerable<Kooboo.CMS.Sites.Models.AssemblyFile>
@{
    ViewBag.Title = "Plug-ins".Localize();
    Layout = "~/Views/Shared/Site.cshtml";
}
@section Panel{    
    <ul class="panel">
        <li>
            <a class="upload-button" >
                <span>
                    <form action="@Html.Raw(this.Url.Action("Upload", ViewContext.RequestContext.AllRouteValues().Merge("return",ViewContext.HttpContext.Request.RawUrl)))" enctype="multipart/form-data" method="post"  class="no-stop">
                        <input type="file" name="file" title="@("Upload".Localize())" accept=".dll"/>
                    </form>
                </span>
                @Html.IconImage("upload")@("Upload".Localize())
            </a>
        </li>
        <li><a href="@Url.Action("Delete", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-command-type="AjaxPost" data-confirm="@("Are you sure you want to delete these items?".Localize())">
            @Html.IconImage("delete") @("Delete".Localize())</a></li>

        <li><a href="@Url.Action("ViewTypes", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Single" data-command-type="Redirect">
            @Html.IconImage("viewtypes") @("View types".Localize())</a></li>
    </ul>
}
<div class="topbar clearfix">
    <h1 class="title">
        @ViewBag.Title</h1>
</div>
@Html.GridForModel2()