@model Kooboo.CMS.Web.Areas.Account.Models.ResetPasswordByTokenModel
@{
    ViewBag.Title = "Reset password".Localize();
    Layout = "~/Areas/Account/Views/Shared/CommonLayout.cshtml";
}
<div class="block reset">
    @if (ViewBag.Message != null)
    { 
        <span>@ViewBag.Message</span>
    }
    else
    { 
        <div class="common-form">
            <h6 class="title">
                @("Reset password".Localize())</h6>
            <div class="info">
                <p>
                    @("Select your new password and enter it below.".Localize())</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <table>
                        <tbody>
                            @Html.EditorFor(m => m.NewPassword)
                            @Html.EditorFor(m => m.NewPassword1)
                            <tr>
                                <th>
                                </th>
                                <td>
                                    <button type="submit">
                                        @("Reset password".Localize())</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            }
        </div>
    }
</div>
