@model IEnumerable<Kooboo.CMS.Content.Models.Repository>
@{
    ViewBag.Title = "Content databases".Localize();
    Layout = "~/Views/Shared/Site.cshtml";
}

@section Sidebar{
    @Html.Partial("_SidebarTopSearch")
    <nav class="container block menu">
        @Html.Partial("Menu", Kooboo.Web.Mvc.Menu.MenuFactory.BuildMenu(ViewContext.Controller.ControllerContext, "AreasMenu"))
    </nav>
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@Url.Action("Create", "Repository", new { @return = ViewContext.HttpContext.Request.RawUrl })">
                @Html.IconImage("add") @("Create".Localize())</a>
        </li>
        <li>
            <a href="@Url.Action("Import", "Repository", new { @return = ViewContext.HttpContext.Request.RawUrl })">
                @Html.IconImage("import")
                @("Import".Localize())</a>
        </li>
    </ul>
}


@if (Model.Count() == 0)
{
    <div class="block">
        <h1 class="title">@ViewBag.Title </h1>
        <div class="sitemap-panel clearfix">
            <div class="blank">
                <p>
                    @("You do not have any content database yet, click the button below to create a content database.".Localize())
                </p>
                @Html.ActionLink("Create a database", "Create", "Repository", new { @return = ViewContext.HttpContext.Request.RawUrl }, new { @class = "button" })
            </div>
        </div>
    </div>
}
else
{
    <div class="block">
        <h1 class="title">@ViewBag.Title</h1>

        @foreach (var item in Model)
        {        
            <div class="site-tree">
                @Html.Partial("_DatabaseNode", item)
            </div>
        }
    </div>
}