@using Kooboo.CMS.Web2.Areas.Membership
<div class="topbar">
    <div class="block sitemanager">
        <a href="@Url.Action("Index", new { controller = "Membership", area = "Membership" })" title="@("Memberships".Localize())">
            <h6 class="title">@("Memberships".Localize())</h6>
        </a>
        <span class="name-title clear">@(ViewContext.RequestContext.GetRequestValue("MembershipName"))</span>
    </div>
</div>
<div class="wrap">
    <nav class="block menu">
        @Html.Partial("Menu", Kooboo.Common.Web.Menu.MenuFactory.BuildMenu(ViewContext.Controller.ControllerContext, "Membership").SetMembership(this.ViewContext))
    </nav>
</div>