@model System.Collections.Generic.IEnumerable<Kooboo.CMS.Sites.Models.HtmlBlock>
@{
    ViewBag.Title = "Html blocks".Localize();
    Layout = "~/Views/Shared/Site.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@Url.Action("Create", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("add") @("Create".Localize())</a>
        </li>
        <li>
            <a href="@Url.Action("Import", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl).Merge("title", "Import custom errors"))">
                @Html.IconImage("import") @("Import".Localize())
            </a>
        </li>

        <li><a href="@Url.Action("Delete", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-command-type="AjaxPost" data-confirm="@("Are you sure you want to delete these items?".Localize())">
            @Html.IconImage("delete") @("Delete".Localize())</a></li>

        <li><a href="@Url.Action("Localize", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-show-on-selector=".unlocalized" data-command-type="AjaxPost">
            @Html.IconImage("localize") @("Localize".Localize())</a></li>
        <li class="j_DropDown" data-show-on-check="Single" data-show-on-selector=".localized">
            <a>
                @("More...".Localize())
                @Html.IconImage("arrow small white-down")
            </a>
            <ul class="j_DropDownContent hide">
                <li>
                    <a href="@Url.Action("Export", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))"  data-show-on-check="Any" data-command-type="Download">
                        @("Export".Localize())
                    </a>
                </li>

                <li><a href="@Url.Action("Relations", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl).Merge("title", "Show html block relations"))" data-show-on-check="Single" data-show-on-selector=".localized" data-command-type="Redirect">
                    @("Relations".Localize())</a></li>

                <li><a href="@Url.Action("Versions", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl).Merge("title", "Show html block  versions"))" data-show-on-check="Single" data-show-on-selector=".localized" data-command-type="Redirect">
                    @("Versions".Localize())</a></li>
            </ul>
        </li>
    </ul>
}
<div class="topbar clearfix">
    <h1 class="title">
        @ViewBag.Title</h1>
</div>
@Html.GridForModel2()
