@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Title")>@Html.Raw(Model.Title ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Summary")>@Html.Raw(Model.Summary ?? "")</div>
		<div @ViewHelper.Edit(Model,"Description")>@Html.Raw(Model.Description ?? "")</div>
		<div @ViewHelper.Edit(Model,"Readings")>@Html.Raw(Model.Readings ?? "")</div>
		<div @ViewHelper.Edit(Model,"File")>@Html.Raw(Model.File ?? "")</div>
	</div>
</div>
}