@model Kooboo.Web.Mvc.Grid2.GridModel
<div class="common-table fixed">
    <div class="thead">
        <table>
            <thead>
                <tr>
                    @if (Model.Checkable)
                    {
                        <th class="checkbox">
                            <input type="checkbox" class="select-all" />
                        </th>
                    }
                    @foreach (var column in Model.Columns)
                    {
                        <th @column.RenderHeaderContainerAtts(ViewContext)>
                            @column.RenderHeader(ViewContext)
                        </th>
                    }
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbody">
        <table>
            <tbody>
                @{
                    var categoryList = ((IEnumerable<ElementCategory>)ViewData["CategoryList"]).ToArray();
                    var items = Model.GetItems().ToArray();
                }
                @if (categoryList.Length == 0 && items.Length == 0)
                { 
                    <tr class="empty">
                        <td>
                            @("Empty".Localize())
                        </td>
                    </tr>
                }
                else
                {
                    if (categoryList != null)
                    {
                        foreach (var c in categoryList)
                        {
                            if (!string.IsNullOrEmpty(c.Category))
                            { 
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox" value="@c.Category " name="Category" class="select category" />
                        </td>
                        <td colspan="2">
                            @Html.ActionLink(c.Category, "Index", ViewContext.RequestContext.AllRouteValues().Merge("Category", c.Category), new RouteValueDictionary(new { @class = "f-icon folder" }))
                        </td>
                    </tr>
                            }
                        }
                    }
                    foreach (var item in items)
                    {
                    <tr @item.RenderItemContainerAtts()>
                        @if (Model.Checkable)
                        {
                            <td class="checkbox">
                                <input type="checkbox"  class="select" name="select" value="@item.IdPropertyValue" data-id-property="@Model.IdPorperty"
                                 @(item.IsCheckable == true ? "" : "disabled") autocomplete="off"/>
                            </td>
                        }
                        @foreach (var itemValue in item.GetItemColumns())
                        {
                            <td @itemValue.RenderItemColumnContainerAtts(ViewContext)>
                                @itemValue.RenderItemColumn(ViewContext)
                            </td>
                        }
                    </tr>            
                    }
                }
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            var table = $('.common-table table');
            table.checkableTable();
            table.grid();
        });
    </script>
</div>
