@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@using Kooboo.CMS.Sites.Services;
@using Kooboo.CMS.Common.Runtime;

@{
   
    var moduleManager = EngineContext.Current.Resolve<ModuleManager>();
    var sites = moduleManager.AllSitesInModule(Model.ModuleName).Count();

}

<div class="content-block-header">
    @Model.ModuleName
    <input type="radio" name="select" class="select" value="@Model.UUID" id="@Model.UUID"  data-id-property="UUID"><label for="@Model.UUID"></label>
</div>

<ul>  
    <li>
        @("Sites in use:") @sites
    </li>
</ul>
