@model IEnumerable<Site>
@{
    ViewBag.Title = "Unable to uninstall".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">
        @ViewBag.Title</h1>
    @(Html.Raw("The module is being in used for these site:"))
    <ul>
        @foreach (var site in Model)
        {
            <li>@Html.ActionLink(site.FriendlyName, "Index", new { controller = "Module", area = "Sites", siteName = site.FullName })</li>
        }
    </ul>
</div>

