@using Kooboo.CMS.Sites.Extension.ModuleArea.Management;
@model Kooboo.CMS.Web.Areas.Sites.Models.InstallModuleModel

@{
    ViewBag.Title = "Module installation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
    UploadModuleResult uploadModuleResult = null;
    if (ViewBag.UploadModuleResult != null)
    {
        uploadModuleResult = (UploadModuleResult)ViewBag.UploadModuleResult;
    }
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Cancel".Localize())
            </a>
        </li>
        <li>
            <a data-ajaxform="">
                @Html.IconImage("next") @("Next".Localize())
            </a>
        </li>
    </ul>
}
<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span class="current">@("Choose module package".Localize())<b></b></span>
            <span>@("Installation".Localize())</span>
            <span>@("Result".Localize())</span>
        </div>
    </div>
    @using (Html.BeginForm(ViewContext.RequestContext.GetRequestValue("Action").ToString(),
        ViewContext.RequestContext.GetRequestValue("Controller").ToString(), ViewContext.RequestContext.AllRouteValues(), FormMethod.Post,
        new Dictionary<string, object>() { { "enctype", "multipart/form-data" } }))
    {
        if (uploadModuleResult == null || @uploadModuleResult.IsValid == false)
        {
            <div class="common-form">
                <table>
                    <tbody>
                        @Html.EditorFor(m => m.ModuleFile, new { HtmlAttributes = new { @class = "medium" } })
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <input type="hidden" name="ModuleName" value="@uploadModuleResult.ModuleName" />
            <div class="columns clearfix">
                <div class="col-32">
                    <div class="content">
                        <p>This is the basic infomation about the module</p>
                    </div>
                    <div class="block box">
                        <div class="container">
                            <div class="common-form">
                                <table>
                                    <tr>
                                        <th>@("Module name".Localize())</th>
                                        <td><strong>@uploadModuleResult.ModuleName</strong></td>
                                    </tr>
                                    <tr>
                                        <th>@("Module version".Localize())</th>
                                        <td><strong>@uploadModuleResult.TargetModuleInfo.Version</strong></td>
                                    </tr>
                                    <tr>
                                        <th>@("Kooboo CMS version".Localize())</th>
                                        <td><strong>@uploadModuleResult.TargetModuleInfo.KoobooCMSVersion</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (uploadModuleResult.ConflictedAssemblies.Count() > 0)
                    {
                        <div class="content">
                            <p>//Text here to warning the overwrite of assembly files.</p>
                        </div>
                        <div class="simple-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@("Assembly file".Localize())</th>
                                        <th>@("System version".Localize())</th>
                                        <th>@("Module version".Localize())</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in uploadModuleResult.ConflictedAssemblies)
                                    {
                                        <tr>
                                            <td>@item.ReferenceData.AssemblyName</td>
                                            <td>@item.ReferenceData.Version</td>
                                            <td>@item.ConflictedVersion</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
<script>
    $(function () {
        $('input[name="ModuleFile"]').change(function () {
            if ($(this).val() != '') {
                window.leaveConfirm.unbind();
                this.form.submit();
            }
        });
    })
</script>
