@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Module unistallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
    var uninstallingTemplate = Model.UninstallingTemplate;
    if (!uninstallingTemplate.StartsWith("~/"))
    {
        var viewPath = new ModulePath(Model.ModuleName).GetModuleInstallationFilePath(uninstallingTemplate);
        if (File.Exists(viewPath.PhysicalPath))
        {
            uninstallingTemplate = viewPath.VirtualPath;
        }
        else
        {
            uninstallingTemplate = null;
        }
    }
    var installationContext = (Kooboo.CMS.Sites.Extension.ModuleArea.Management.InstallationContext)ViewBag.InstallationContext;
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())
            </a>
        </li>
        <li>
            <a data-ajaxform="">
                @Html.IconImage("next") @("Next".Localize())
            </a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span class="current">@("Run uninstallation action".Localize())<b></b></span>
            <span>@("Remove module files".Localize())</span>
            <span>@("Finished".Localize())</span>
        </div>
    </div>
    <table>
        <tr>
            <th>@("Module name".Localize())</th>
            <td>@installationContext.ModuleName</td>
        </tr>
        <tr>
            <th>@("Module version".Localize())</th>
            <td>@installationContext.VersionRange.TargetVersion</td>
        </tr>
        <tr>
            <th>@("Target Kooboo CMS".Localize())</th>
            <td>@Model.KoobooCMSVersion</td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {

        if (string.IsNullOrEmpty(uninstallingTemplate))
        {
            <p>@("Confirm to run the 'OnUninstalling' event which defined in module.".Localize())</p>
        }
        else
        {
            @Html.Partial(uninstallingTemplate, null, new ViewDataDictionary())
        }
    }
</div>


