@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Module reinstallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Finish".Localize())
            </a>
        </li>
    </ul>
}

<div class="block">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span>@("Module selection".Localize())</span>
            <span>@("Installation".Localize())</span>
            <span class="current">@("Finish".Localize())<b></b></span>
        </div>
    </div>
    <div class="block content">
        <p></p>
        <b>@("Your module has been updated".Localize())</b>
        <p></p>
        <p></p>
        <ul>
            <li>@("To use the module in one site, go to the Extension\\Module under that website and include this module".Localize())</li>

            <li>
                @("To add one module to a page, go to page visual designer, and add a module into the right layout position".Localize())
            </li>
        </ul>
    </div>
</div>

