@model Kooboo.CMS.Sites.Extension.ModuleArea.Management.InstallingModule
@{
    ViewBag.Title = "Module reinstallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
    var reinstallingTemplate = Model.ModuleInfo.ReinstallingTemplate;
    if (!string.IsNullOrEmpty(reinstallingTemplate) && !reinstallingTemplate.StartsWith("~/"))
    {
        var viewPath = new ModulePath(Model.ModuleName).GetModuleInstallationFilePath(reinstallingTemplate);
        if (File.Exists(viewPath.PhysicalPath))
        {
            reinstallingTemplate = new ModulePath(Model.ModuleName).GetModuleInstallationFilePath(reinstallingTemplate).VirtualPath;
        }
        else
        {
            reinstallingTemplate = null;
        }

    }

}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("next") @("Next".Localize())
            </a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <a>@("Upload module file".Localize())</a>
            <span class="current">@("Run reinstallation".Localize())<b></b></span>
            <span>@("Finished".Localize())</span>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <ul>
            <li>@("1. Copy the module file into Kooboo CMS system.".Localize())</li>
            <li>@("2. Run the 'OnReinstalling' event which defined in the module.".Localize())</li>
        </ul>
        if (!string.IsNullOrEmpty(reinstallingTemplate))
        {
            @Html.Partial(reinstallingTemplate, null, new ViewDataDictionary())
        }

    }
</div>

