@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Module unistallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Finish".Localize())
            </a>
        </li>
    </ul>
}
<div class="block">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span>@("Module info".Localize())</span>
            <span>@("Uninstallation".Localize())</span>
            <span class="current">@("Result".Localize())<b></b></span>
        </div>
    </div>
    <div class="block message success">
        <p>@Html.Raw(string.Format("The module has been uninstalled successful."))</p>
    </div>
</div>
