@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Module unistallation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Finished".Localize())
            </a>
        </li>
    </ul>
}
<div class="common-form">
    <h1 class="title">@ViewBag.Title - @ViewContext.RequestContext.GetRequestValue("UUID")</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span>@("Show module info".Localize())</span>
            <a>@("Run uninstallation".Localize())</a>
            <span class="current">@("Finished".Localize())<b></b></span>
        </div>
    </div>
    <p class="process-steps-tip">@Html.Raw("The module has been uninstalled.")</p>
</div>

