@model dynamic
@{
    Layout = "~/Views/Shared/Blank.cshtml";
}
<div class="common-form">
    <h1 class="title">
        @ViewBag.Title</h1>
    <div>
        <h3 class="title">
            @("Remove files".Localize())</h3>
        <ul class="step clearfix">

            <li class="current">
                @("Remove files".Localize())</li>
            <li>&gt;</li>
            <li>
                @("Finish".Localize())</li>
        </ul>
        <div class="step-content">
            <div class="block">
                @Html.Raw("Click <b>Next</b> to remove the module files.".Localize())
            </div>
            @using (Html.BeginForm())
            {
                <p class="buttons">
                    <button type="submit" class="button step-link">
                        @("Next".Localize())
                        »</button>
                </p>
            }
        </div>
    </div>
</div>
