@model Kooboo.CMS.Sites.Models.Page
@{
    var customTabs = Kooboo.CMS.Web.Areas.Sites.PageCustomTabs.Tabs(Model.Layout).ToArray();
}
<div class="tabs">
    <ul class="tab-index clearfix">
        <li class="active"><a href="#basicInfo">
            @("Designer".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li><a href="#setting">
            @("Settings".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li><a href="#navigation">
            @("Navigation".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li><a href="#htmlmeta">
            @("HTML meta".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li class="hide"><a href="#permission">
            @("Permission".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li><a href="#route">
            @("URL route".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        @if (!string.IsNullOrEmpty(Kooboo.CMS.Sites.Models.Site.Current.Repository))
        {
            <li><a href="#datarules">
                @("DataRules".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        }
        <li><a href="#plugins">
            @("Plug-ins".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        <li><a href="#outputCache">
            @("Output cache".Localize())</a>@Html.IconImage("arrow blue-down") </li>
        @if (customTabs.Length == 0)
        {
            <li><a href="#customFields">
                @("Custom fields".Localize())</a>@Html.IconImage("arrow blue-down")</li>
        }
        @foreach (var tab in customTabs)
        {
            <li><a href="#@tab.Title">
                @Html.Raw(tab.Title.Localize())</a>@Html.IconImage("arrow blue-down")</li>
        }
    </ul>
    <div class="tab-content active" id="basicInfo">
        @Html.Partial("PageDesign", (bool?)(ViewBag.IsCreating))
    </div>
    <div class="tab-content" id="setting">
        <table>
            @Html.EditorFor(m => m.Layout, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.ContentTitle, new { HtmlAttributes = new { @class = "medium" } })
            @if (Request["fullName"] == null)
            {
                @Html.EditorFor(m => m.IsDefault)
            }
            @Html.EditorFor(m => m.EnableTheming)
            @Html.EditorFor(m => m.EnableScript)
            @Html.EditorFor(m => m.PageType)
            @Html.EditorFor(m => m.Searchable)
            @Html.EditorFor(m => m.RequireHttps)
        </table>
    </div>
    <div class="tab-content" id="navigation">
        @Html.EditorFor(m => m.Navigation)
    </div>
    <div class="tab-content " id="htmlmeta">
        @Html.EditorFor(m => m.HtmlMeta)
    </div>
    <div class="tab-content " id="permission">
        @Html.EditorFor(m => m.Permission)
    </div>
    <div class="tab-content " id="route">
        @Html.EditorFor(m => m.Route)
    </div>
    <div class="tab-content " id="datarules">
        @if (!string.IsNullOrEmpty(Kooboo.CMS.Sites.Models.Site.Current.Repository))
        {
            @Html.EditorFor(m => m.DataRules)
        }
    </div>
    <div class="tab-content " id="plugins">
        @Html.EditorFor(o => o.Plugins)
    </div>
    <div class="tab-content" id="outputCache">
        <table>
            @Html.EditorFor(m => m.CacheToDisk)
            @Html.EditorFor(m => m.OutputCache)
        </table>
    </div>
    @if (customTabs.Length == 0)
    {
        <div class="tab-content" id="customFields">
            <table>
                <tbody>
                    @Html.EditorFor(m => m.CustomFields)
                </tbody>
            </table>
        </div>
    }
    @foreach (var tab in customTabs)
    {
        <div class="tab-content " id="@tab.Title">
            @Html.Partial(tab.VirualPath, Model.CustomFields, new ViewDataDictionary())
        </div>
    }
</div>
