@model Kooboo.CMS.Web2.Areas.Account.Models.CreateUserModel
@{
    ViewBag.Title = "New user".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="header-panel">
        <li><a data-ajaxform="">@Html.IconImage("save") @("Save".Localize())</a></li>

        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }

        <li><a href="@ViewContext.RequestContext.GetRequestValue("return")">@Html.IconImage("back") @("Cancel".Localize())</a></li>
    </ul>
}
<div class="block common-form">
    @using (Html.BeginForm())
    {

        <table>
            @Html.EditorFor(m => m.UserName, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.Email, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.Password, new { HtmlAttributes = new { @class = "medium", autocomplete = "off" } })
            @Html.EditorFor(m => m.ConfirmPassword, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.UICulture, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.GlobalRoles, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.IsAdministrator)
        </table>
    }
</div>
