@model Kooboo.CMS.Web2.Areas.Account.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset user password".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="">
                @Html.IconImage("save") @("Save".Localize())</a>
        </li>
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Back".Localize())</a>
        </li>
    </ul>
}

<div class="block common-form">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserName)
        <table>
            <tbody>
                @Html.DisplayFor(m => m.UserName)
                @Html.EditorFor(m => m.NewPassword)
                @Html.EditorFor(m => m.NewPassword1)
            </tbody>
        </table>
    }
</div>
