<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex,nofllow" />
    <link rel="shortcut icon" href='~/Images/favicon.ico' />
    <title>
        @ViewBag.Title @("-Kooboo CMS".Localize())
    </title>
    @Html.ExternalResources("siteStyles")
    @Html.ExternalResources("siteScripts")
    <script type="text/javascript" src="~/Scripts/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tiny_mce_extension.js"></script>
    <!--[if lte IE 8]>
    <script src="~/Scripts/html5shiv.js" type="text/javascript"></script>
    <script src="~/Scripts/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
    <link href="~/Styles/jQuery.JCrop/jquery.Jcrop.css" rel="Stylesheet" type="text/css" />
    @RenderSection("ScriptCSS", false)
</head>
<body class="blank loading">
    @Html.Partial("_Loading_Info")
    <div id="body-container" class="no-sidebar">
        <header id="header">
            <a class="logo" href="@Html.Raw(Url.Action("SiteMap", "Home", new { area = "Sites" }))" title="@("Back to site manager".Localize())">
                <img src="@Html.Raw(Url.Content("~/Images/logo.png")) " alt="LOGO">
                @Html.IconImage("home")
            </a>
            @RenderSection("Panel", false)
            @Html.Partial("_QuickLinks")
        </header>
        <div id="main-container" class="clearfix">
            @if (IsSectionDefined("MainContainer"))
            {
                @RenderSection("MainContainer")
            }
            else
            {
                <div class="wrap">
                    <h1 class="title">@ViewBag.Title</h1>
                    @RenderBody()
                </div>
            }
        </div>
        <footer id="footer">
            @Html.Partial("_Footer")
        </footer>
    </div>
    @Html.Partial("_Master.Script")
</body>
</html>
