@model Kooboo.CMS.SiteKernel.Services.SiteNode
@{
    var published = Model.Site.Published;
    var displayName = Model.Site.GetDisplayText();
}
@if (Model.AbleToEdit)
{
    <div class="map-item @(published ? "" : "unpublished")">
        <a href="@Url.Action("SiteMap", new { siteName = Model.Site.FullName, repositoryName = Model.Site.Repository })" title="@displayName"><span>@displayName</span></a>
        <span class="arrow trigger">
            @Html.IconImage("arrow-right")
        </span>
        @if (ViewBag.SiteNodeButtons != null)
        {
            @Html.Partial("_SiteNodeButtons", (object)(ViewBag.SiteNodeButtons))
        }
    </div>
}
else
{
    <div class="map-item @(published ? "" : "unpublished")">
        <a>@displayName</a>
    </div>
}
@if (Model.Children.Count() > 0)
{
    <div class="children">
        <ul>
            @foreach (var item in Model.Children)
            {
                <li class="tree-node clearfix active">
                    @if (item.Children.Count() > 0)
                    {
                        @Html.IconImage("tree-icon")
                    }
                    @Html.Partial("_SiteNode", item)
                </li>
            }
        </ul>
    </div>
}
