@model Kooboo.Common.Data.IPagedList<Kooboo.CMS.SiteKernel.Services.SiteNode>
@{
    ViewBag.Title = "Site cluster".Localize();
    Layout = "~/Views/Shared/Site.cshtml";

    var ableToCreateSite = ServiceFactory.UserManager.AllowCreatingSite(User.Identity.Name);
}

@if (Model.Count() == 0)
{
    <div class="block blank-page">
        @if (ableToCreateSite)
        {
            <p>
                @("You do not have any site yet, click the button below to create a site.".Localize())
            </p>
            @Html.ActionLink("Create a site", "Create", "Site", new { @return = ViewContext.HttpContext.Request.RawUrl }, new { @class = "button" })
        }
    </div>
}
else
{
    <div class="block fixed">
        @foreach (var siteNode in Model.Where(it => it.Children.Count() == 0))
        {
            <div class="site-tree">
                @Html.Partial("_SiteNode", siteNode)
            </div>
        }

        <ul class="site-tree">
            @foreach (var siteNode in Model.Where(it => it.Children.Count() > 0))
            {
                <li class="tree-node clearfix active">
                    @Html.IconImage("tree-icon")
                    @Html.Partial("_SiteNode", siteNode)
                </li>
            }
        </ul>


        <div class="pagination right">
            @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
        </div>

    </div>
}
<script>
    $(function () {
        $('.tree-node').treeNode();
        $('a.delete-site-link').on('click', function (e) {
            e.preventDefault();
            // show dialog
            var id = new Date().getTime();
            var handle = $(this).pop({
                id: id,
                height: 300,
                dialogClass: 'warning-dialog',
                frameHeight: "100%",
                popupOnTop: true,
                onclose: function () {
                }
            }).click();
        })
    });
</script>
