@model Kooboo.CMS.Sites.Models.Layout
@{
    //var body = (Model == null || string.IsNullOrEmpty(Model.Body)) ? (string)(ViewBag.DefaultLayout == null ? "" : ViewBag.DefaultLayout.Template) : Model.Body;

    var viewEngine = (ITemplateEngine)(ViewData["ViewEngine"]);
    var viewEngineName = viewEngine.Name;
}

@*@Html.TextArea("Body", body, new { rows = 30, cols = 20 })*@
<script type="text/ecmascript">
    var __isLayout__ = true;
    var __msgs__ = {
        'remove_data_binding_confrim': "@("Are you sure to delete the data binding?".Localize())",
        'save_binding_success': "@("successed".Localize())",
        'position_existed': "@("position existed!".Localize())",
        'not_empty': "@("please enter a vlaue".Localize())",
        'iframe_loading':"@("Please wait for the iframe to finish loading".Localize())"
    };
</script>
<script src="~/Areas/Sites/Scripts/talEditor/common.js"></script>
<script src="~/Areas/Sites/Scripts/talEditor/layout-panel.js"></script>

<div class="wrap with-topbar">
    <div class="block editor">
        <div class="tal-editor" id="div-editor-container">
            <div class="J_Tabs tabs-bottom tabs">
                <div id="tab_preview" class="tab-content">
                    <iframe id="iframe-preview"
                            src="@Url.Action("Preview", new { controller = "TALLayoutEditor", siteName = ViewContext.RequestContext.GetRequestValue("SiteName"), layout = Model == null ? "" : Model.Name })"></iframe>
                </div>
                <div id="tab_sourceCode" class="tab-content">
                    @Html.Raw(Html.TextAreaFor(o => o.Body, new { rows = 20, cols = 20 }))
                </div>
                <ul id="design-view-tags" class="tab-index bottom">
                    <li class="active"><a type="preview" href="#tab_preview">Preview</a></li>
                    <li><a type="source" href="#tab_sourceCode">Source code</a></li>
                </ul>
            </div>
        </div>
        <div class="tal-panel" id="div-panel-container">
            <span style='display: none;' id="span-main-process" data-bind="click:mainProcess">&nbsp;</span>
            <span style='display: none;' id="span-clear-clicked" data-bind="click:clearProcess">&nbsp;</span>
            <div class="settings" data-bind="visible:hasClickedTag()">
                <!-- ko if:clickedTag()-->
                <div class="code-viewer">
                    <h6 class="title">Code:</h6>
                    <div class="container">
                        <ul>
                            <li>
                                <!-- ko if:clickedTag().children().length>0-->
                                <span name="code-node-top" class="code active"
                                      data-bind="text:$root.codeDom.markupStart(clickedTag()[0]),click:$root.codeDom.itemClick,event:{mouseover:$root.codeDom.itemHover,mouseout:$root.codeDom.itemHover}"></span>
                                <!-- ko template: { name: 'tmpl-code-dom', data: {top:clickedTag()}}-->
                                <!-- /ko -->
                                <span name="code-node-top" class="code active"
                                      data-bind="text:$root.codeDom.markupEnd(clickedTag()[0]),click:$root.codeDom.itemClick,event:{mouseover:$root.codeDom.itemHover,mouseout:$root.codeDom.itemHover}"></span>
                                <!-- /ko -->
                                <!-- ko if:clickedTag().children().length==0-->
                                <span name="code-node-top" class="code active"
                                      data-bind="text:$root.codeDom.markup(clickedTag()[0]),click:$root.codeDom.itemClick,event:{mouseover:$root.codeDom.itemHover,mouseout:$root.codeDom.itemHover}"></span>
                                <!-- /ko -->
                            </li>
                        </ul>
                    </div>
                    <div class="bottom" id="div-node-path">
                        <!-- ko foreach:{data:$root.codeDom.parents(clickedTag()),as:'step'}-->
                        <!-- ko if:$root.isClickedTag(step.jqtag)-->
                        <a href="#" class="active"
                           data-bind="attr:{name:step.name},click:$root.codeDom.itemClick,text:$root.codeDom.fullTagName(step.jqtag),event:{mouseover:$root.codeDom.pathHover,mouseout:$root.codeDom.pathHover}"></a>
                        <!-- /ko -->
                        <!-- ko ifnot:$root.isClickedTag(step.jqtag)-->
                        <a href="#"
                           data-bind="attr:{name:step.name},click:$root.codeDom.itemClick,text:$root.codeDom.fullTagName(step.jqtag),event:{mouseover:$root.codeDom.pathHover,mouseout:$root.codeDom.pathHover}"></a>&gt;
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko template:{name:'tmpl-binding-convert',data:$root}-->
                <!-- /ko -->
                <!-- ko template:{name:'tmpl-binding-editor',data:$root}-->
                <!-- /ko -->

            </div>

            <!-- ko if:boundTags().length==0&&!hasClickedTag()-->
            <div class="container">
                <p class="empty">
                    You don't have any positions, please define one first.
                </p>
            </div>
            <!-- /ko -->
            <!-- ko if:boundTags().length!=0-->
            <!-- ko template:{name:'tmpl-binding-list',data:$root}-->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>

@Html.Partial("LayoutPanelBlocks.cshtml")


<script>
    $(function () {
        var textArea = $('#Body');
        textArea.codeMirror();
        var codeMirrorAPI = textArea.data("codeMirror");
        codeMirrorAPI.on('change', function (e) {
            if (e && e.historySize().undo > 0) {
                window.leaveConfirm.stop();
            } else {
                window.leaveConfirm.pass();
            }
        });
        $('#tab_sourceCode').on('show', function () {
            codeMirrorAPI.refresh();
        });
        window.ajaxFormParam = {
            beforeSerialize: function ($form, options) {
                if (__ctx__.isPreview) {
                    textArea.val(getIframeContent());
                } else {
                    textArea.val(codeMirrorAPI.getValue());
                }
            }
        };

        $('.tabs').koobooTab();
        $("#div-panel-container").applyBindings(new PanelModel());
        $('div.block').on('click', '.title', function () {
            $(this).parent('.block').toggleClass('active');
        });
        if (!__ctx__.iframeObj) {
            __ctx__.iframeObj = $("#iframe-preview")[0].contentWindow;
        }
        function getIframeContent(koobooDiv) {
            var html = "";
            //var doctypeName = __ctx__.iframeObj.document.doctype.name;
            //if (doctypeName) {
            //    html+="<!DOCTYPE " + doctypeName + ">";
            //}
            html += __ctx__.iframeObj.document.documentElement.outerHTML;
            var stuff = koobooDiv.outerHTML;
            return html.replace(stuff, "");
        }
        function setIframeContent(html, koobooDiv) {
            var stuff = koobooDiv.outerHTML;
            var re = new RegExp("(<html>|<HTML>|</html>|</HTML>)", 'g');
            html = html.replace(re, "");
            var doc = __ctx__.iframeObj.document;
            doc.documentElement.innerHTML = html;
            var bodyInner = doc.body.innerHTML;
            doc.body.innerHTML = bodyInner + stuff;
        }
        //switch design mode
        __conf__.editorPosRight = $("#div-editor-container").css("right");
        $("#design-view-tags").on('click', 'a', function (e) {
            var koobooDiv = __ctx__.iframeObj.document.getElementById("kooboo-stuff-container");
            if ($(this).attr('type') == 'preview') {
                if (__ctx__.iframeObj.$ && koobooDiv) {
                    setIframeContent(codeMirrorAPI.getValue(), koobooDiv);
                    __ctx__.initEditorHandler();
                    __ctx__.isPreview = true;
                    __ctx__.highlighter.hide();
                    __ctx__.highlighterCopy.hide();
                    $("#div-editor-container").css({ 'right': __conf__.editorPosRight });
                    $("#div-panel-container").show();
                    //__ctx__.iframeObj.$("body").KoobooHighlight();
                } else {
                    e.preventDefault();
                    alert(__msgs__.iframe_loading);
                }
            } else {
                if (__ctx__.iframeObj.$ && koobooDiv) {
                    codeMirrorAPI.setValue(getIframeContent(koobooDiv));
                    __ctx__.isPreview = false;
                    $("#div-editor-container").css({ 'right': 0 });
                    $("#div-panel-container").hide();
                } else {
                    e.preventDefault();
                    alert(__msgs__.iframe_loading);
                }
            }
        });
        @*var action = '@ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower()';
        if (action == "create") {
            _.delay(function () {
                $('.tabs').koobooTab().data("koobooTab").showTab(1);
            }, 200);
            codeMirrorAPI.setValue(defaultLayout);
        }*@

    });
</script>



