@model IEnumerable<Kooboo.CMS.Content.Versioning.VersionInfo>
@{
    ViewBag.Title = "Text cotnent versions";
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="header-panel">

        <li><a href="@Url.Action("Diff", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Two" data-command-type="Redirect">
            @Html.IconImage("preview") @("Compare".Localize())</a></li>

        <li><a href="@Url.Action("RevertTo", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.RequestContext.GetRequestValue("return")))" data-show-on-check="Single" data-command-type="AjaxPost" data-confirm="@("Are you sure you want to revert to this version?".Localize())">
            @Html.IconImage("reset") @("Revert".Localize())</a></li>

        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("back") @("Back".Localize())</a>
        </li>
    </ul>
}

<div class="topbar clearfix">
    <h1 class="title">
        @ViewBag.Title</h1>
</div>
@Html.GridForModel2()