@model Kooboo.CMS.Sites.Models.View

@Html.Partial("_TALEditor_Script")
@if (ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower() == "create")
{
    using (Html.BeginForm())
    {
        <div class="topbar">
            <h1 class="title left">@ViewBag.Title</h1>
            <p class="field left">
                @Html.EditorFor(m => m.Name, new { Layout = "_NoLabel.cshtml" })
            </p>

            @Html.Partial("LayoutSelector")
        </div>
        <div class="common-form fixed">
            @Html.ValidationSummary(true)
            @Html.Hidden("SiteName", ViewContext.RequestContext.GetRequestValue("SiteName"))
            @*@Html.Raw(Html.TextAreaFor(o => o.Body, new { rows = 20, cols = 20 }))*@
            @Html.Partial("_TALBody", Model)
        </div>
        <div id="submisson-form-params">
        </div>
    }
}
else
{
    <div class="topbar">
        <h1 class="title">@ViewBag.Title: <strong>@ViewContext.RequestContext.GetRequestValue("UUID")</strong></h1>
        @Html.Partial("LayoutSelector")
    </div>
    <div class="common-form fixed">
        @helper HiddenTag(string name,string value,string paramName="") {
          if (string.IsNullOrEmpty(paramName))
          {
              <input type="hidden" name="@name" value="@value" />
          }
          else { 
              <input type="hidden" name="@name" value="@value" param="@paramName"/>
          } 
        }

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.EngineName)
            @Html.Hidden("SiteName", ViewContext.RequestContext.GetRequestValue("SiteName"))
            @Html.Hidden("old_Key", Model.Name)
            @Html.Partial("_TALBody", Model)
            <div id="submisson-form-params">
               @if (Model.FormSettings != null) { 
                   foreach (var form in Model.FormSettings) {
                        var obj = string.Format("FormSettings[{0}]", form.Name);
                        List<string> keys = new List<string>(form.Settings.Keys);
                        <div form="@form.Name" plugin="@form.PluginType">
                            @HiddenTag("FormSettings.Index",form.Name)
                            @HiddenTag(string.Format("{0}.Name", obj), form.Name)
                            @HiddenTag(string.Format("{0}.SubmitType", obj), form.SubmitType.ToString())
                            @HiddenTag(string.Format("{0}.PluginType", obj), form.PluginType)
                            @HiddenTag(string.Format("{0}.RedirectTo", obj), form.RedirectTo)
                            @for (int i = 0; i < keys.Count; i++)
                            {
                                var settingObj=string.Format("{0}.Settings[{1}]", obj,i);
                                var key = keys[i];
                                @HiddenTag(string.Format("{0}.Key", settingObj),key,key)
                                @HiddenTag(string.Format("{0}.Value", settingObj), form.Settings[key])
                            }
                        </div>
                   }
               }
            </div>
        }
    </div>
}
