@model Kooboo.CMS.Sites.Models.View
<div class="wrap with-topbar">
    <div class="block editor">
        <div class="tal-editor" id="div-editor-container">
            <div class="J_Tabs tabs-bottom tabs">
                <div id="J_Tab1_1" class="tab-content">
                    <iframe id="iframe-preview"
                            src="@Url.Action("Preview", new { controller = "TALViewEditor", siteName = ViewContext.RequestContext.GetRequestValue("SiteName"), layout = "one_column", view = Model == null ? "" : Model.Name, position = "mainContainer" })"></iframe>
                </div>
                <div id="J_Tab1_2" class="tab-content">
                    @Html.Raw(Html.TextAreaFor(o => o.Body, new { rows = 20, cols = 20 }))
                </div>
                <ul id="panel-top-tabs" class="tab-index">
                    <li class="active"><a type="preview" href="#J_Tab1_1">Preview</a></li>
                    <li><a type="source" href="#J_Tab1_2">Source code</a></li>
                </ul>
            </div>
        </div>
        <div class="tal-panel" id="div-panel-container">
            <span style='display:none;' id="span-relaying-click" data-bind="click:relayingElementClick">&nbsp;</span>
            <span style='display:none;' id="span-clear-clicked" data-bind="click:clearClickedElement">&nbsp;</span>

            <div class="J_Tabs tabs">
                <ul class="tab-index clearfix">
                    <li class="active"><a href="#J_Tab2_1" id='tab-data-source'>Data source</a></li>
                    <li><a href="#J_Tab2_2" id='tab-data-binding'>Data binding</a></li>
                </ul>
                <div id="J_Tab2_1" class="tab-content">
                    <div class="block source-list active">
                        @Html.EditorFor(m => m.DataSources, new { Title = "Data sources".Localize() })
                    </div>
                </div>
                <div id="J_Tab2_2" class="tab-content">
                    <div id="div-repeat-item-setting" class="block text-setting active"
                         data-bind="template: { name: 'tmpl-datasource-setting', data: dataSource },visible:false">
                    </div>
                    <div class="block text-setting active">
                        <h6 class="title">@Html.IconImage("sprite")Text &amp; Link</h6>

                        <div class="container" data-bind="foreach:{data:boundTags(),as:'tag'}">
                            <!-- ko if:$root.isClickedTag(tag)-->
                            <!-- ko template: { name: 'tmpl-data-binding', data: $root }-->
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko ifnot:$root.isClickedTag(tag)-->
                            <div class="item minimized" data-bind="click:$root.listItemClick">
                                <div class="text">
                                    @Html.IconImage("sprite")<span data-bind="text:tag.html(),attr:{title:tag.html()}"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>