@model Kooboo.CMS.Sites.Models.HtmlMeta
<fieldset>
    <table>
        <tbody>
            @Html.EditorFor(m=>m.HtmlTitle, new {HtmlAttributes =new {  @class = "medium" }})
            @Html.EditorFor(m=>m.Canonical, new {HtmlAttributes =new {  @class = "medium" }})
            @Html.EditorFor(m => m.Author, new {HtmlAttributes =new {  @class = "medium" }})
            @Html.EditorFor(m => m.Keywords, new {HtmlAttributes =new {  @class = "medium" }})
            @Html.EditorFor(m => m.Description, new {HtmlAttributes =new {  @class = "autoresize medium" }})
            @Html.EditorFor(m=>m.Customs) 
        </tbody>
    </table>
</fieldset>
<script>
    $(function () {
        $('#HtmlMeta_Description').autosize({ className: 'autoresizeMedium' });
    });
</script>