@model System.Collections.Generic.IEnumerable<Kooboo.CMS.Modules.Publishing.Models.PublishingQueue>
@{
    ViewBag.Title = "Publishing queue".Localize();
    Layout = "~/Views/Shared/Site.cshtml";
}

@section Panel{
    <ul class="panel">
        @*<li>
            <a href="@Url.Action("Create", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("add") @("Create".Localize())</a>
        </li>*@
        <li>
            <a href="@Url.Action("Delete", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-command-type="AjaxPost"  data-confirm="@("Are you sure you want to delete the remote setting?".Localize())">
                @Html.IconImage("delete")
                @("Delete".Localize())
            </a>
        </li>
    </ul>
}

<div class="topbar clearfix">
    <h1 class="title">
        @ViewBag.Title</h1>
    @Html.Partial("_AdvancedSearch")
</div>
@Html.GridForModel2()
