@using Kooboo.CMS.Web.Areas.Sites

<div class="topbar block sitemanager clearfix">
    <a class="right" href="@Url.Action("Index", new { controller = "Home", area = "sites" })" title="@("Go to site cluster".Localize())">@Html.IconImage("cluster")</a>
    <h6 class="title">@("Site manager".Localize())</h6>
   @Html.Partial("_SitesNavTree",Site.Current)
    @if (ServiceFactory.UserManager.IsAdministrator(User.Identity.Name))
    {
        <a class="right add" href="@Url.Action("CreateSubSite", "Site", new { area = "Sites", parent = ViewContext.RequestContext.GetRequestValue("siteName"), @return = ViewContext.HttpContext.Request.RawUrl })">@Html.IconImage("add")</a>
    }
</div>


@if (!string.IsNullOrEmpty(ViewContext.RequestContext.GetRequestValue("SiteName")))
{
    <nav class="container block menu">
        @Html.Partial("Menu", Kooboo.Web.Mvc.Menu.MenuFactory.BuildMenu(ViewContext.Controller.ControllerContext, "Sites").SetCurrentSite(this.ViewContext))
    </nav>
}