@model Kooboo.CMS.Sites.Models.PagePosition
@using Kooboo.Web.Script.Serialization
@{
    Layout="~/Areas/Sites/Views/Shared/Blank.cshtml";
    }
    <h2>
        Edit page position for "@ViewContext.RequestContext.GetRequestValue("fullName") "</h2>
    <div class="common-form">
        @using (Html.BeginForm())
        { 
            @Html.Hidden("sucess",Request.HttpMethod.ToLower() == "post" && ViewData.ModelState.IsValid) 
            @Html.ValidationSummary(true) 
            @Html.Hidden("old.PagePositionID", Model.PagePositionId)
            <fieldset>
                <legend></legend>
                <table id="positionFormTable">
                    <tbody>
                        @Html.EditorFor(m=>m.PagePositionId) 
                        @Html.EditorFor(m=>m.LayoutPositionId) 
                        @Html.EditorFor(m=>m.Order) 
                        @Html.Raw(Html.Partial("PagePositionInstance",Model))
                    </tbody>
                </table>
            </fieldset>
            <button type="submit">
                Save</button>
            <button type="reset">
                Reset</button>
        } 
    </div>
        <script language="javascript" type="text/javascript">
            adminJs.popForm.initFormSubmit();
    </script>
