@model Kooboo.CMS.Sites.Models.Site
@{    
    Layout = "~/Views/Shared/Popup.cshtml";
    var siteName = Request["SiteName"];
}

<div class="block common-form in-warning-dialog">
    <h1 class="title">
        @Html.IconImage("warning big")
        @("Warning".Localize())
    </h1>
    <article class="content">
        <p class="clearfix"><strong>@Html.Raw(string.Format("The <strong>{0}</strong> will be permanently deleted and cannot be recovered. Are you sure?".Localize(), siteName))</strong></p>
    </article>
    @using (Html.BeginForm(ViewContext.RequestContext.GetRequestValue("Action"), ViewContext.RequestContext.GetRequestValue("Controller"), ViewContext.RequestContext.AllRouteValues(), FormMethod.Post, new RouteValueDictionary() { { "class", "no-stop" } }))
    { 
        @Html.Hidden("SiteName", siteName)
      
        <p class="clearfix">
            <input type="checkbox" id="DeleteRepository" value="True" name="DeleteRepository" /><label
                class="inline" for="DeleteRepository">
                <strong>
                    @Html.Raw("Would you like to delete the associated content database </br> when it does not used by any other website any more?".Localize())
                </strong>
            </label>
        </p>  
    }
    <p class="buttons">
        <button class="white" data-ajaxform="" data-confirm='@("This site will be permanently deleted and cannot be recovered. Are you sure?".Localize())'>
            @("Delete".Localize())</button>

        <a class="button white dialog-close">@("Cancel".Localize())</a>
    </p>

</div>
<script>
    $(function () {
        $('.dialog-close').click(function () {
            $.popContext.getCurrent().close();
        });
    });
</script>
