
<ul>
  

<li>@Url.FrontUrl().PageUrl("Category",new {cat1="Category1"})</li>
<li>@Url.FrontUrl().PageUrl("Category",new {cat1="Category1",cat2="Category2"})</li>
<li>@Url.FrontUrl().PageUrl("Category",new {cat1="Category1",cat2="Category2",cat3="Category3"})</li>
<li>@Url.FrontUrl().PageUrl("Category",new {cat1="Category1",cat2="Category2",cat3="Category3",cat4="Category4"})</li>

<li>....</li>


<li>@Url.FrontUrl().PageUrl("Category",new {cat1="Category1",cat2="Category2",cat3="Category3",cat4="Category4",cat5="Category5",cat6="Category6",cat7="Category7"})</li>
  
  </ul>