<div class="block menu">
    <ul>
        <li>
            @Html.ModuleHtml().ActionLink("Category1", "Index", new { category = "category1" })
        </li>
        <li>
            @Html.ModuleHtml().ActionLink("Category2", "Index", new { category = "category2" })
        </li>
        <li>
            @Html.ModuleHtml().ActionLink("Category3", "Index", new { category = "category3" })
        </li>
        <li>
            @Html.ModuleHtml().ActionLink("Category4", "Index", new { category = "category4" })
        </li>
    </ul>
</div>
@Html.ModuleHtml().Partial("Quicklinks")